[submodule "src/modules/mavctl"]
	path = src/modules/mavctl
	url = git@github.com:uaarg/mavctl-python.git
[submodule "mavctl-python"]
	path = mavctl-python
	url = https://github.com/uaarg/mavctl-python
