opencv-python>=4.1.1
matplotlib>=3.2.2
# Dronekit distributed by Pip has a bug with python 3.10, so install directly from github for fix
git+https://github.com/dronekit/dronekit-python
dronekit>=2.9.2
geopy>=2.2.0
sympy>=1.11.1
numpy>=1.23.4