[Unit]
Description=Shepard
After=login.target

[Service]
ExecStart=/home/uaarg/shepard/run.sh
WorkingDirectory=/home/uaarg/shepard

[Install]
WantedBy=multi-user.target
