[Unit]
Description=Shepard
After=login.target

[Service]
ExecStart=/home/uaarg/uaarg/bin/run-nav.sh
WorkingDirectory=/home/uaarg/uaarg

[Install]
WantedBy=multi-user.target
